# Python #
*.pyc
__pycache__/
*.so
*.orig

# Django #
db.sqlite3
media/
static_collected/
staticfiles/ # Common for collectstatic output

# Virtual Environment #
.venv/
venv/
env/

# IDE specific files #
.idea/             # IntelliJ/PyCharm
.vscode/           # VS Code
*.sublime-workspace
*.sublime-project
*.swp              # Vim swap files

# Operating System files #
.DS_Store          # macOS
Thumbs.db          # Windows

# Logs and other temporary files #
*.log
*.bak
