{% extends 'layout.html' %}

{% load static %}

{% block title %}
    CarPal Search
{% endblock %}

{% block content %}
    <div class="main-content-wrapper"> 
        <h1>CarPal</h1>
        <h2>We are ready to guide you!</h2>

        {#<form action="{% url 'perform_search' %}" method="get" class="search-form">#}
            <a href="results.html">
            <input type="text" name="query" placeholder="Search by" class="search-input" /> 
            <button type="submit" class="submit-btn">Go</button>
    </a>
        {#</form>#}
    </div>


{% endblock %}
