{% extends "layout.html" %}

{% block title %}
    Announcements
{% endblock title %}

{% block content %}
    <section>
    <h1> Announements</h1>

    {% for announcement in announcements %}
        <article class="announcement">
            <h2>
                <a href="{% url 'announcements:page' slug=announcement.slug %}">

                {{ announcement.title }}
                </a>
            </h2>
            <h2>{{ announcement.date }}</h2>
            <h2>{{ announcement.body }}</h2>
        </article>
    {% endfor %}
</section>
{% endblock content %}