{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Sign In - CarPal
{% endblock %}

{% block content %}
<div class="guest-link-container">
    <p><a href="{% url 'search' %}" class="guest-link">Continue as Guest</a></p>
</div>

    <h1>CarPal</h1>

    <form action="#">
        <input type="text" placeholder="Email" />
        <input type="password" placeholder="Password" /> <button type="submit" class="submit-btn">Sign In</button> </form>

    <div class="social-login-section"> <h3>-or-</h3>

        <div class="social-icons-container"> <a href="#" class="social-icon-wrapper">
                <img src="login/images/facebook.png" alt="Facebook icon">
            </a>

            <a href="#" class="social-icon-wrapper">
                <img src="{% static 'login/images/appleicon.png' %}" alt="Apple icon">
            </a>

            <a href="#" class="social-icon-wrapper">
                <img src="" alt="Google icon">
            </a>
        </div>
    </div>
{% endblock %}