.mt-0 {
  margin-top: 0!important;
}

.mt-8 {
  margin-top: 7.5rem !important;
}

.me-0 {
  margin-right: 0!important;
}

.me-2 {
  margin-right: .5rem!important;
}

.mb-1 {
  margin-bottom: .25rem!important;
}

.ms-0 {
  margin-left: 0!important;
}

.ms-5 {
  margin-left: 3rem!important;
}

.ms-auto {
  margin-left: auto!important;
}

.p-9 {
  padding: 9rem !important;
}

.pt-2 {
  padding-top: .5rem!important;
}

.pe-0 {
  padding-right: 0!important;
}

.pb-1 {
  padding-bottom: .25rem!important;
}

.ps-0 {
  padding-left: 0!important;
}

.ps-1 {
  padding-left: .25rem!important;
}

